<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecopex LTD</title>
    <meta charset="utf-8">
      {% load static %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Is a locally registered company in Uganda. The
company started its operations in 2012.">
<meta name="keywords" content="Ecopex, environmental sustainability, environmental protection, green energy,
environmental Management solutions, nature walks, hydrological studies, NEMA, mapping, travel, tourism,
">
<meta name="author" content="Ecopex LTD">
<link rel="icon" type="image/png" href="{% url 'ico' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton" rel="stylesheet">
    

    <link rel="stylesheet" href="{% static 'ecopex/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'ecopex/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ecopex/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'ecopex/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'ecopex/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'ecopex/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'ecopex/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'ecopex/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'ecopex/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'ecopex/css/style.css' %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
      
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a href="{% url 'index' %}"><span class="text-primary">Ecopex</span></a>
            </div>
            
              <nav class="site-navigation text-center ml-auto" role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#about-section" class="nav-link">About</a></li>
                  <li><a href="#discover-section" class="nav-link">Discover</a></li>
                  <li><a href="#donate-section" class="nav-link">Donate</a></li>
                  <li><a href="#blog-section" class="nav-link">More</a></li>
                  <li><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>
              </nav>
          
            

          <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    
    <div class="owl-carousel slide-one-item">
      <a href="#"><img src="{% static 'ecopex/images/civil.png' %}" alt="Image" class="img-fluid"></a>
      <a href="#"><img src="{% static 'ecopex/images/nsanzi.png' %}" alt="Image" class="img-fluid"></a>
    </div>
    
    <div class="d-block d-md-flex intro-engage">
      <div class="">
        <h2>Who we are</h2>
        <p>Ecopex Uganda Ltd is a locally registered company in Uganda. The
                        company started its operations in 2012.</p>
      </div>
      <div>
        <h2>Our vision</h2>
        <p>Contribute to Global Environmental Conservation.</p>
      </div>
      <div>
        <h2>Our Mission and Passion</h2>
        <p>Providing our clients with the best knowledge that promotes sustainable development.</p>
      </div>
    </div>

    <div class="site-section bg-image overlay counter" style="background-image: url('{% static 'ecopex/images/hero_1_no-text.jpg' %}');" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6 mb-4">
              <img src="{% static 'ecopex/images/eco_images/quary.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto align-self-lg-center">
            <h2 class="text-white mb-4 text-uppercase section-title">About Us</h2>
            <p class="text-white">We aim at achieving environmental sustainability and therefore determined to offer the best services to our clients</p>
            <p class="text-black"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4 col-lg-0 col-lg-4">
            <div class="block-counter-1">
              <span class="number"><span data-number="15">0</span></span>
              <span class="caption text-white">Projects</span>
            </div>
          </div>
          <div class="col-md-4 mb-4 col-lg-0 col-lg-4">
            <div class="block-counter-1">
              <span class="number"><span data-number="10">0</span></span>
              <span class="caption text-white">Partners</span>
            </div>
          </div>
          <div class="col-md-4 mb-4 col-lg-0 col-lg-4">
            <div class="block-counter-1">
              <span class="number"><span data-number="9">0</span></span>
              <span class="caption text-white">Experience</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light counter" id="discover-section">
      <div class="container">
        <div class="row mb-5">

          <div class="col-lg-6 mb-5">
            <img src="{% static 'ecopex/images/eco_images/auditing.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto align-self-center">
            <h3 class="text-black text-uppercase mb-4">Our Values</h3>
            <ul class="mb-5">
                <li>Integrity</li>
                    <li>Efficiency</li>
                    <li>Team work</li>
                    <li>Reliability</li>
                    <li>Sustainability</li>
            </ul>

          </div>

          
          
        </div>

        <div class="row mb-5">

          <div class="col-lg-6 mb-5 order-lg-2">
            <img src="{% static 'ecopex/images/eco_images/igar.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 mr-auto align-self-center order-lg-1">
            <h3 class="text-black text-uppercase mb-4">Services</h3>
              <ul>
                    <li>Environmental Management solutions</li>
                  <li>Biodiversity surveys</li>
                  <li>Nature walks</li>
                  <li>Waste Management</li>
                  <li>Occupation Health and Safety Solutions</li>
                  <li>Mapping</li>
                  <li>Geotechnical studies</li>
                  <li>Hydrological studies</li>
                </ul>

          </div>
      </div>
    </div>
  </div>

    <div class="site-section bg-image overlay" style="background-image: url('{% static 'ecopex/images/hero_1_no-text.jpg' %}');" id="donate-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-5 text-center">
            <h2 class="text-white mb-4">GET IN TOUCH NOW</h2>
            <p><a href="#" class="btn btn-primary px-4 py-3 btn-block">+256 773 111 222</a></p>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
              <h2 class="text-black text-uppercase section-title">Our Leadership</h2>
              <p>Our service team is composed of technical and dedicated staff</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-12 mb-lg-0" data-aos="fade-up">
            <div class="block-team-member-1 text-center rounded">
{#              <figure>#}
{#                <img src="{% static 'ecopex/images/person_1.jpg' %}" alt="Image" class="img-fluid rounded-circle">#}
{#              </figure>#}
              <h3 class="font-size-30 text-black" title="Asiimwe Jamilla">Asiimwe Jamilla</h3>
              <span class="d-block letter-spacing-1 text-uppercase font-size-12 mb-3">Director</span>
              <p class="px-3 mb-3">Expert in oil and gas Natural resource Management!</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
                <a href="https://ug.linkedin.com/in/jamila-asiimwe-7063586a" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div>
              <a href="#" class="mb-4 d-block"><img src="{% static 'ecopex/images/eco_images/nsanzi.jpg' %}" alt="Image" class="img-fluid rounded"></a>
                <h2><a href="#">Projects</a></h2>

                <ul>
                     <li>Grain milling plants</li>
                <li>Fuel stations</li>
                <li>Warehouses</li>
                <li>Hydro power plants</li>
                <li>Steel plants</li>
                <li>Aluminum plants</li>
                <li>Hotels</li>
                <li>Roads</li>
                <li>Bakeries</li>
                <li>Manufacturing plants</li>
                <li>Effluent Treatment Plants</li>
                <li>Dams</li>
                <li>Telecommunication</li>
                <li>Agriculture</li>
                </ul>

            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <a href="#" class="mb-4 d-block"><img src="{% static 'ecopex/images/eco_images/vekons.jpg' %}" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="#">Partners</a></h2>
                <ul class="description">
               <li>Environmental engineers</li>
               <li>Safety engineer</li>
               <li>Entomologist</li>
               <li>Geologist</li>
               <li>Sociologist</li>
               <li>Herpetologist</li>
               <li>ornithologist</li>
               <li>Botanist</li>
               <li>Civil engineer</li>
               <li>Lawyer</li>
           </ul>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-black section-title text-uppercase">Contact Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 mb-5">
            <form method="post" id="form">
                {% csrf_token %}
              <div class="form-group row">
                <div class="col-md-12 mb-4 mb-lg-0">
                  <input type="text" name="names" class="form-control" placeholder="Full names" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" name="email" class="form-control" placeholder="Email address" required>
                </div>
              </div>

                <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="message" class="form-control" placeholder="Write your message." cols="30" rows="10" required></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 ml-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p> We help our clients make informed choices that promote
environmental protection.
</p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section">About Us</a></li>
                  <li><a href="#contact-section">Contact Us</a></li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <div class="mb-5">
                <h2 class="footer-heading mb-4">Thanks to our partners</h2>
                <p>We look forward to continuing our partnership for generations.</p>
              </div>

              </div>


              <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="https://www.facebook.com/Ecopex-Uganda-Ltd-107775550834243"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>

          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;{% now 'Y' %} All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div>

  <script src="{% static 'ecopex/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'ecopex/js/jquery-ui.js' %}"></script>
  <script src="{% static 'ecopex/js/popper.min.js' %}"></script>
  <script src="{% static 'ecopex/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ecopex/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'ecopex/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'ecopex/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'ecopex/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'ecopex/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'ecopex/js/aos.js' %}"></script>

  <script src="{% static 'ecopex/js/main.js' %}"></script>
  <script type="text/javascript">
    function clearcontact() {
        $('#form')[0].reset();
    }
    const form = document.getElementById('form');
    form.addEventListener('submit', submitHandler);
    function submitHandler(e){
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: '{% url 'index' %}',
            data: $('#form').serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.msg==='Success'){
                    clearcontact();
                    alert('Successfully submitted')
                        }
                        else{
                    alert('Something went wrong')
                }
                    }
                })
    }

</script>
    
  </body>
</html>