{% load static %}
<script src="{% static 'ecopex/js/vendor/jquery-1.11.0.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="{% static 'ecopex/js/vendor/jquery-1.11.0.min.js' %}"><\/script>')</script>
        <script src="{% static 'ecopex/js/bootstrap.js' %}"></script>
        <script src="{% static 'ecopex/js/plugins.js' %}"></script>
        <script src="{% static 'ecopex/js/main.js' %}"></script>