{% load static %}
<link rel="stylesheet" href="{% static 'ecopex/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecopex/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'ecopex/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'ecopex/css/templatemo_misc.css' %}">
        <link rel="stylesheet" href="{% static 'ecopex/css/templatemo_style.css' %}">

        <script src="{% static 'ecopex/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>