<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Is a locally registered company in Uganda. The
company started its operations in 2012.">
<meta name="keywords" content="Ecopex, environmental sustainability, environmental protection, green energy,
environmental Management solutions, nature walks, hydrological studies, NEMA, mapping, travel, tourism,
">
<meta name="author" content="Ecopex LTD">
<link rel="icon" type="image/png" href="{% url 'ico' %}"/>