{% load static %}
{% url 'index' as index %}
{% url 'services' as services %}
{% url 'events' as events %}
{% url 'about' as about %}
{% url 'contact' as contact %}
<div class="site-header">
            <div class="container">
                <div class="main-header">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-10">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'ecopex/images/ecopex.png' %}" alt="Ecopex logo" title="Ecopex">
                                </a>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-8 col-sm-6 col-xs-2">
                            <div class="main-menu">
                                <ul class="visible-lg visible-md">
                                    <li {% if request.path == index %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
                                    <li {% if request.path == services %}class="active"{% endif %}><a href="{% url 'services' %}">Services</a></li>
                                    <li {% if request.path == events %}class="active"{% endif %}><a href="{% url 'events' %}">Events</a></li>
                                    <li {% if request.path == about %}class="active"{% endif %}><a href="{% url 'about' %}">About Us</a></li>
                                    <li {% if request.path == contact %}class="active"{% endif %}><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                <a href="#" class="toggle-menu visible-sm visible-xs">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div> <!-- /.main-menu -->
                        </div> <!-- /.col-md-8 -->
                    </div> <!-- /.row -->
                </div> <!-- /.main-header -->
                <div class="row">
                    <div class="col-md-12 visible-sm visible-xs">
                        <div class="menu-responsive">
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'events' %}">Events</a></li>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>

