{% load static %}
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="footer-logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'ecopex/images/ecopex.png' %}" alt="">
                    </a>
                </div>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4">
                        <div class="copyright">
                            <span>
                                Copyright &copy; {% now 'Y' %} <a href="#" style="font-weight: bold">Ecopex Ltd</a>
                            </span>
                        </div>
                    </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4">
                        <ul class="social-icons">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->