{% extends 'admin/base_site.html' %}
{% block title %}Ecopex Ltd | {{ 'Admin'|default:_('Ecopex Ltd') }}{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}"></a> Ecopex Ltd</h1>
{% endblock %}
{% block nav-global %}{% endblock %}